$colorOxigen: #08A6E4;
$colorLinks: #A5A5A5;

.navbar {
    position: relative;
    padding: 1em 1.5em;
    background-color: white;
    filter: drop-shadow(0 3px 6px rgba(0, 0, 0, .29));

    width: 100%;
    position: relative;

    &__title {
        font-size: 2em;
        font-weight: 300;
        color: $colorOxigen;
    }



    &>* {
        display: inline-block;
    }

    &__button {
        position: absolute;
        right: 2.2em;
        top: 2.1em;
        border: none;
        background-color: transparent;
    }


    &__links {
        display: none;
        list-style: none;
        background-color: white;
        position: absolute;
        width: 100%;
        padding: 0 1.7em;
        padding-top: 1.2em;
        padding-bottom: .2em;
        left: 0;
        top: 4em;
        &__link{
            margin-bottom: 1.1em;
            &__item{
                text-decoration: none;
                color: $colorLinks;
                letter-spacing: .15em;
                font-weight: 700;
                text-transform: uppercase;
                font-size: .7em;
                
            }

            &__item.active {
                color: black;
                border-color: $colorOxigen;
            }
        }
    }
}

.front {
    padding-top: 4em;

    &__sell {
        text-align: center;

        &__title {
            font-size: 2.2em;
            font-weight: 400;
            margin-bottom: .3em;
        }

        &__subtitle {
            width: 75%;
            margin: 0 auto;
            margin-bottom: 3em;
        }

        &__link {
            display: inline-block;
            background-color: $colorOxigen;
            color: white;
            text-decoration: none;
            font-weight: 700;
            padding: 1.2em 5em;
            border-radius: 50px;
            filter: drop-shadow(5px 10px 14px #07ACE64A);
            margin-bottom: 1em;
        }

        &__image {
            width: 100%;
            height: 280px;
            object-fit: cover;
        }
    }
}

@media only screen and (min-width: 1000px) {
    .navbar {
        position: static;
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 0 8em;

        &__title {
            position: static;
        }

        &__button {
            display: none;
        }

        &__links {
            position: static;
            height: 70px;
            display: flex;
            list-style: none;
            gap: 5em;
            justify-content: flex-end;

            &__link {
                height: 100%;

                &__item {
                    height: 100%;
                    display: flex;
                    color: #A5A5A5;
                    text-decoration: none;
                    font-weight: 700;
                    letter-spacing: .3em;
                    font-size: 0.68em;
                    text-transform: uppercase;
                    border-bottom: 4px solid #08A6E400;
                    transition: border-color .3s ease-out, color .3s ease-out;

                    &__text {
                        display: inline-block;
                        margin: auto 0;
                    }
                }

                &__item:hover {
                    color: black;
                    border-color: $colorOxigen;
                }

                &__item.active {
                    color: black;
                    border-color: $colorOxigen;
                }
            }
        }
    }


    .front {
        padding-top: 8.1em;

        &__sell {
            margin-bottom: 1.5em;

            &__title {
                font-size: 3em;
                margin-bottom: .4em;
            }

            &__subtitle {
                margin-bottom: 2.5em;
            }

            &__link {
                padding: 1.2em 9.6em;
                margin-bottom: .8em;
            }

            &__image {
                height: auto;
                max-height: 595px;
            }
        }
    }

}