$colorRojo: #FB3B64;
$colorAzul: #08A6E4;
$colorVerde: #55DFB4;
$fondoTarjeta: #FFFFFF;
$colorBorde: #E8E9ED;
$fondoSeccion: #F7F7F7;

.information {
    background-color: $fondoSeccion;
    padding: 3em 0;

    &__description {
        width: 85%;
        margin: 0 auto 2em auto;
        background-color: white;
        border: 1px solid $colorBorde;
        border-radius: 5px;
        padding: 1.5em .5em;

        &__picture {
            width: 90%;
            margin: 0 auto 1.5em auto;
            position: relative;
            
            padding-top: 1em;
            padding-bottom: 3em;

            &__image--laptop {
                width: 80%;
                position: absolute;
                top: 30%;
                right: 12%;
                z-index: 1;
            }

            &__image--phone {
                width: 80%;
                position: absolute;
                top: 10%;
                left: 19%;
                z-index: 1;
            }


            &__image--megaphone {
                width: 75%;
                margin: 0 auto;
                position: absolute;
                top: 20%;
                left: 5%;
            }

            &__red-shape {
                width: 50%;
                position: relative;
                top: 0;
                left: 45%;
            }

            &__blue-shape {
                width: 60%;
                position: relative;
                top: 0;
                left: 20%;
            }
            
        }

        &__picture--blue-shape{
            padding-bottom: 1.5em;
        }

        &__picture--solo {
            position: relative;
            background-color: $colorVerde;
            padding-bottom: 60%;
        }

        &__text-zone {
            margin-left: 1.2em;
            width: 95%;

            &__title {
                font-size: 1.9em;
                font-weight: 400;
                width: 70%;
                margin-bottom: .8em;
            }

            &__text {
                font-size: .9em;
                line-height: 1.4em;
                width: 90%;
            }
        }
    }

    &__description--divided {
        padding-bottom: 0;
        margin-bottom: 0;
        padding-left: 0;
        padding-right: 0;

        .information__description__text-zone {
            margin-bottom: 1.2em;

            &__text {
                font-size: 1em;
                line-height: 1.5em;
            }

            &__title {
                width: 80%;
            }
        }
    }
}

@media only screen and (min-width: 1000px) {
    .information {
        padding: 6em 0;

        &__description {
            width: 70%;
            padding: 4em 0;
            display: flex;
            justify-content: center;
            gap: 2em;

            &__picture {
                width: 40%;
                margin: 0;
            }

            &__picture--solo {
                position: relative;
                padding-bottom: 0;
                width: 40%;
            }

            &__text-zone {
                margin: 0;
                padding: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 2em;
                width: 55%;

                &__title {
                    font-size: 2.1em;
                }

                &__text {
                    font-size: 1em;
                    line-height: 1.6em;
                    margin-bottom: 1em;
                }

                &__line {
                    width: 55%;
                    border-bottom: 4px solid;
                }

                &__line--red {
                    border-color: $colorRojo;
                }

                &__line--blue {
                    border-color: $colorAzul;
                }

                &__line--green {
                    border-color: $colorVerde;
                }
            }

        }

        &__description--picture-right {
            gap: 0;
            flex-direction: row-reverse;
        }

        &__description--divided {
            background-color: transparent;
            border: none;
            justify-content: space-between;
            padding: 0;

            .information__description__text-zone {
                margin-bottom: 0;
                background-color: white;
                border: 1px solid $colorBorde;
                width: 55%;
                padding-top: 3em;
                padding-left: 1.8em;
                padding-right: 0;
                padding-bottom: 3em;

                &__text {
                    font-size: 1em;
                    line-height: 1.5em;
                }

                &__title {
                    width: 80%;
                    margin-top: 1em;
                }

                &__line {
                    margin-bottom: 2em;
                }
            }
        }
    }
}