.information{
    background-color: #F7F7F7;
    padding: 3em 0;
    &__description{
        width: 85%;
        margin: 0 auto 2em auto;
        background-color: white;
        border: 1px solid #E8E9ED;
        border-radius: 5px;
        padding: 1.5em 0;
        &__picture{
            width: 90%;
            margin: 0 auto;
            position: relative;
            padding: 2.5em 0;

            &__shape--red{
                position: absolute;
                right: 15%;
                top: 9%;
                width: 30%;
                background-color: #FB3B64;
                border-radius: 31px;
                transform: rotate(45deg);
                z-index: 0;
            }

            &__shape--red::before{
                content: '';
                display: block;
                padding-bottom: 100%;
            }

            &__shape--blue{
                position: absolute;
                left: 10%;
                top: 10%;
                width: 50%;
                background-color: #08A6E4;
                border-radius: 9999px;
                z-index: 0;
            }

            &__shape--blue::before{
                content: '';
                display: block;
                padding-bottom: 100%;
            }

            &__image{
                position: inherit;
                display: block;
            }

            &__image--laptop{
                width: 80%;
                margin: 0 auto;
            }

            &__image--phone{
                width: 70%;
                margin: 0 auto;
            }

            &__image--megaphone{
                width: 75%;
                margin: 0 auto;
                position: absolute;
                top: 15%;
                left: 0;
            }
        }

        &__picture--solo{
            position: relative;
            background-color: #55DFB4;
            padding-bottom: 60%;
        }

        &__text-zone{
            margin-left: .6em;
            &__title{
                font-size: 1.9em;
                font-weight: 400;
                width: 70%;
                margin-bottom: .8em;
            }
        }
    }

    &__description--divided{
        padding-bottom: 0;
        margin-bottom: 0;
        .information__description__text-zone{
            margin-bottom: 1.2em;
        }
    }
}

/*

ESTO ES PARA HACER LA FORMA DE DETRAAS DEL PORTATIL DEL PRIMER CONTENEDOR
    width: 100px;
    height: 100px;
    margin: 0 auto;
    background-color: #FB3B64;
    border-radius: 31px;
    transform: rotate(45deg);


*/