$colorOxigen: #08a6e4;

.percentage-scroll__bar{
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    padding-bottom: .3em;
    background-color: $colorOxigen;
    width: 0;
}

.error-in-input{
    border-color: red;
}