@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
}

h1 {
  font-family: "Raleway", sans-serif;
}

h2 {
  font-family: "Raleway", sans-serif;
}

h3 {
  font-family: "Raleway", sans-serif;
}

h4 {
  font-family: "Raleway", sans-serif;
}

p, a, label, button {
  font-family: "Open Sans", system-ui;
}

.header {
  position: relative;
  height: 70px;
  background-color: white;
  filter: drop-shadow(0 3px 6px rgba(0, 0, 0, 0.29));
}
.header__nav {
  width: 85%;
  height: 70%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.header__nav__title {
  font-size: 2em;
  font-weight: 300;
  color: #08A6E4;
  position: absolute;
  left: 0;
  top: 15%;
}
.header__nav > * {
  display: inline-block;
}
.header__nav__button {
  position: absolute;
  right: 0;
  top: 40%;
  border: none;
  background-color: transparent;
}

.front {
  padding-top: 4em;
}
.front__sell {
  text-align: center;
}
.front__sell__title {
  font-size: 2.2em;
  font-weight: 400;
  margin-bottom: 0.3em;
}
.front__sell__subtitle {
  width: 75%;
  margin: 0 auto;
  margin-bottom: 3em;
}
.front__sell__link {
  display: inline-block;
  background-color: #08A6E4;
  color: white;
  text-decoration: none;
  font-weight: 700;
  padding: 1.2em 5em;
  border-radius: 50px;
  filter: drop-shadow(5px 10px 14px rgba(7, 172, 230, 0.2901960784));
  margin-bottom: 1em;
}
.front__sell__image {
  width: 100%;
  height: 280px;
  -o-object-fit: cover;
     object-fit: cover;
}
.front__popularity__title {
  font-weight: 300;
  font-size: 1.9em;
  width: 75%;
  text-align: center;
  margin: 0 auto 0.8em auto;
}
.front__popularity__numbers__number {
  text-align: center;
  width: 180px;
  margin: 0 auto 2em auto;
}
.front__popularity__numbers__number__icon {
  position: relative;
  width: 65px;
  height: 65px;
  margin: 0 auto 0.8em auto;
}
.front__popularity__numbers__number__icon__circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 9999px;
}
.front__popularity__numbers__number__icon__circle--red {
  background-color: #FB3B64;
}
.front__popularity__numbers__number__icon__circle--blue {
  background-color: #08A6E4;
}
.front__popularity__numbers__number__icon__circle--green {
  background-color: #55DFB4;
}
.front__popularity__numbers__number__icon__image {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
}
.front__popularity__numbers__number__icon__image--person {
  left: 53%;
}
.front__popularity__numbers__number__icon__image--eye {
  left: 32%;
}
.front__popularity__numbers__number__icon__image--posts {
  left: 50%;
}
.front__popularity__numbers__number__title {
  font-size: 1.3em;
  font-weight: 800;
  letter-spacing: 0.25em;
  margin-bottom: 0.8em;
}
.front__popularity__numbers__number__subtitle {
  color: #A5A5A5;
  font-weight: 400;
  width: 80%;
  margin: 0 auto;
}

.information {
  background-color: #F7F7F7;
  padding: 3em 0;
}
.information__description {
  width: 85%;
  margin: 0 auto 2em auto;
  background-color: white;
  border: 1px solid #E8E9ED;
  border-radius: 5px;
  padding: 1.5em 0;
}
.information__description__picture {
  width: 90%;
  margin: 0 auto;
  position: relative;
  padding: 2.5em 0;
}
.information__description__picture__shape--red {
  position: absolute;
  right: 15%;
  top: 9%;
  width: 30%;
  background-color: #FB3B64;
  border-radius: 31px;
  transform: rotate(45deg);
  z-index: 0;
}
.information__description__picture__shape--red::before {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.information__description__picture__shape--blue {
  position: absolute;
  left: 10%;
  top: 10%;
  width: 50%;
  background-color: #08A6E4;
  border-radius: 9999px;
  z-index: 0;
}
.information__description__picture__shape--blue::before {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.information__description__picture__image {
  position: inherit;
  display: block;
}
.information__description__picture__image--laptop {
  width: 80%;
  margin: 0 auto;
}
.information__description__picture__image--phone {
  width: 70%;
  margin: 0 auto;
}
.information__description__picture__image--megaphone {
  width: 75%;
  margin: 0 auto;
  position: absolute;
  top: 15%;
  left: 0;
}
.information__description__picture--solo {
  position: relative;
  background-color: #55DFB4;
  padding-bottom: 60%;
}
.information__description__text-zone {
  margin-left: 1.2em;
  width: 95%;
}
.information__description__text-zone__title {
  font-size: 1.9em;
  font-weight: 400;
  width: 70%;
  margin-bottom: 0.8em;
}
.information__description__text-zone__text {
  font-size: 0.9em;
  line-height: 1.4em;
  width: 90%;
}
.information__description--divided {
  padding-bottom: 0;
  margin-bottom: 0;
}
.information__description--divided .information__description__text-zone {
  margin-bottom: 1.2em;
}
.information__description--divided .information__description__text-zone__text {
  font-size: 1em;
  line-height: 1.5em;
}
.information__description--divided .information__description__text-zone__title {
  width: 80%;
}

.pricing {
  padding-top: 3em;
}
.pricing__title {
  font-size: 2.2em;
  font-weight: 400;
  text-align: center;
  margin-bottom: 0.5em;
}
.pricing__price {
  position: relative;
  width: 80%;
  margin: 0 auto 3.4em auto;
  padding: 1.7em 0;
  border-style: solid;
  border-width: 1px;
  border-radius: 18px;
  display: flex;
}
.pricing__price__type {
  width: 50%;
  text-align: center;
}
.pricing__price__type__title {
  margin-top: 2.5em;
  font-size: 1.25em;
}
.pricing__price__type__price {
  font-size: 2.875em;
  font-weight: 300;
}
.pricing__price__perks {
  width: 50%;
  list-style: none;
}
.pricing__price__perks__perk {
  margin-bottom: 1.5em;
}
.pricing__price__perks__perk * {
  display: inline-block;
}
.pricing__price__perks__perk__image {
  margin-right: 0.3em;
}
.pricing__price__perks__perk__description {
  font-size: 0.875em;
}
.pricing__price__begin {
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  text-align: center;
}
.pricing__price__begin__button {
  color: white;
  border-radius: 23px;
  padding: 0.8em 3em;
  text-decoration: none;
}
.pricing__price__begin__button--basic {
  background-color: #EB476E;
}
.pricing__price__begin__button--professional {
  background-color: #07ACE6;
}
.pricing__price__begin__button--premium {
  background-color: #55DFB4;
}
.pricing__price--basic {
  border-color: #EB476E;
}
.pricing__price--basic .pricing__price__type .pricing__price__type__price {
  color: #EB476E;
}
.pricing__price--professional {
  border-color: #07ACE6;
}
.pricing__price--professional .pricing__price__type .pricing__price__type__price {
  color: #07ACE6;
}
.pricing__price--premium {
  border-color: #55DFB4;
}
.pricing__price--premium .pricing__price__type .pricing__price__type__price {
  color: #55DFB4;
}

.contact {
  padding-bottom: 2.9em;
}
.contact__info {
  width: 85%;
  margin: 0 auto;
}
.contact__info__title {
  font-size: 2.5em;
  font-weight: 400;
  margin-bottom: 0.1em;
}
.contact__info__subtitle {
  font-weight: 400;
  margin-bottom: 2em;
}
.contact__info__types {
  margin-bottom: 3.3em;
}
.contact__info__types__type {
  margin-bottom: 0.9em;
}
.contact__info__types__type * {
  display: inline-block;
  vertical-align: middle;
}
.contact__info__types__type__description-img {
  margin-right: 0.4em;
}
.contact__info__types__type__contact {
  color: #A5A5A5;
}
.contact__form {
  width: 85%;
  margin: 0 auto;
}
.contact__form__text-input {
  border: none;
  border-bottom: 1px solid #95989A;
  width: 100%;
  display: block;
  margin-bottom: 2.5em;
}
.contact__form__consent {
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 1em;
}
.contact__form__consent__label {
  font-size: 0.75em;
  font-weight: 400;
  color: #707070;
  width: 90%;
  margin-left: auto;
  display: block;
}
.contact__form__consent__checkbox {
  display: none;
}
.contact__form__consent__custom-checkbox {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  border: 1px solid #95989A;
  border-radius: 4px;
}
.contact__form__consent__checkbox:checked + .contact__form__consent__custom-checkbox::before {
  content: "✓";
  display: inline-block;
  width: 100%;
  text-align: center;
  color: #08A6E4;
}
.contact__form__label--uppercase {
  font-size: 0.7em;
  font-weight: 600;
  color: #08A6E4;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  display: block;
  margin-bottom: 0.6em;
}
.contact__form__submit-button {
  margin-left: auto;
  display: block;
  padding: 1.3em 7em;
  background-color: #08A6E4;
  color: white;
  border: none;
  border-radius: 35px;
  font-size: 0.812em;
  filter: drop-shadow(5px 10px 14px rgba(7, 172, 230, 0.2901960784));
}

.footer {
  height: 90px;
  width: 100%;
  padding: 23px 2em 22px 2em;
  filter: drop-shadow(0px -5px 40px rgba(0, 0, 0, 0.2));
  background-color: #F7F7F7;
}
.footer__interior {
  width: 100%;
  height: 100%;
  position: relative;
}
.footer__interior > * {
  display: inline-block;
}
.footer__interior__owner {
  position: absolute;
  top: 0;
  left: 0;
}
.footer__interior__owner__title {
  color: #08A6E4;
  font-size: 1.625em;
  font-weight: 300;
}
.footer__interior__owner__subtitle {
  color: #A5A5A5;
  font-size: 0.6875em;
  font-weight: 300;
}
.footer__interior__social {
  position: absolute;
  top: 20%;
  bottom: 0;
  right: 0;
}
.footer__interior__social > * {
  display: inline-block;
  margin: auto 0;
}
.footer__interior__social__network {
  margin-left: 1.1em;
}/*# sourceMappingURL=styles.css.map */