@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
}

h1 {
  font-family: "Raleway", sans-serif;
}

h2 {
  font-family: "Raleway", sans-serif;
}

h3 {
  font-family: "Raleway", sans-serif;
}

h4 {
  font-family: "Raleway", sans-serif;
}

h5 {
  font-family: "Raleway", sans-serif;
}

h6 {
  font-family: "Raleway", sans-serif;
}

p, a, label, button {
  font-family: "Open Sans", system-ui;
}

.navbar {
  position: relative;
  height: 70px;
  background-color: white;
  filter: drop-shadow(0 3px 6px rgba(0, 0, 0, 0.29));
  width: 100%;
  position: relative;
}
.navbar__title {
  font-size: 2em;
  font-weight: 300;
  color: #08A6E4;
  position: absolute;
  left: 5%;
  top: 25%;
}
.navbar > * {
  display: inline-block;
}
.navbar__button {
  position: absolute;
  right: 5%;
  top: 40%;
  border: none;
  background-color: transparent;
}
.navbar__links {
  display: none;
}

.front {
  padding-top: 4em;
}
.front__sell {
  text-align: center;
}
.front__sell__title {
  font-size: 2.2em;
  font-weight: 400;
  margin-bottom: 0.3em;
}
.front__sell__subtitle {
  width: 75%;
  margin: 0 auto;
  margin-bottom: 3em;
}
.front__sell__link {
  display: inline-block;
  background-color: #08A6E4;
  color: white;
  text-decoration: none;
  font-weight: 700;
  padding: 1.2em 5em;
  border-radius: 50px;
  filter: drop-shadow(5px 10px 14px rgba(7, 172, 230, 0.2901960784));
  margin-bottom: 1em;
}
.front__sell__image {
  width: 100%;
  height: 280px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media only screen and (min-width: 1000px) {
  .navbar {
    position: static;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8em;
  }
  .navbar__title {
    position: static;
  }
  .navbar__button {
    display: none;
  }
  .navbar__links {
    height: 100%;
    display: flex;
    list-style: none;
    gap: 5em;
  }
  .navbar__links__link {
    height: 100%;
  }
  .navbar__links__link__item {
    height: 100%;
    display: flex;
    color: #A5A5A5;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 0.3em;
    font-size: 0.68em;
    text-transform: uppercase;
    border-bottom: 4px solid rgba(8, 166, 228, 0);
    transition: border-color 0.3s ease-out, color 0.3s ease-out;
  }
  .navbar__links__link__item__text {
    display: inline-block;
    margin: auto 0;
  }
  .navbar__links__link__item:hover {
    color: black;
    border-color: #08A6E4;
  }
  .navbar__links__link__item.active {
    color: black;
    border-color: #08A6E4;
  }
  .front {
    padding-top: 8.1em;
  }
  .front__sell {
    margin-bottom: 1.5em;
  }
  .front__sell__title {
    font-size: 3em;
    margin-bottom: 0.4em;
  }
  .front__sell__subtitle {
    margin-bottom: 2.5em;
  }
  .front__sell__link {
    padding: 1.2em 9.6em;
    margin-bottom: 0.8em;
  }
  .front__sell__image {
    height: auto;
    max-height: 595px;
  }
}
.popularity__title {
  font-weight: 300;
  font-size: 1.9em;
  width: 75%;
  text-align: center;
  margin: 0 auto 0.8em auto;
}
.popularity__numbers-container .number {
  text-align: center;
  width: 180px;
  margin: 0 auto 2em auto;
}
.popularity__numbers-container .number__icon {
  position: relative;
  width: 65px;
  height: 65px;
  margin: 0 auto 0.8em auto;
}
.popularity__numbers-container .number__icon__circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 9999px;
}
.popularity__numbers-container .number__icon__circle--red {
  background-color: #FB3B64;
}
.popularity__numbers-container .number__icon__circle--blue {
  background-color: #08A6E4;
}
.popularity__numbers-container .number__icon__circle--green {
  background-color: #55DFB4;
}
.popularity__numbers-container .number__icon__image {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
}
.popularity__numbers-container .number__icon__image--person {
  left: 53%;
}
.popularity__numbers-container .number__icon__image--eye {
  left: 32%;
}
.popularity__numbers-container .number__icon__image--posts {
  left: 50%;
}
.popularity__numbers-container .number__title {
  font-size: 1.3em;
  font-weight: 800;
  letter-spacing: 0.25em;
  margin-bottom: 0.8em;
}
.popularity__numbers-container .number__subtitle {
  color: #A5A5A5;
  font-weight: 400;
  width: 70%;
  margin: 0 auto;
}

@media only screen and (min-width: 1000px) {
  .popularity {
    padding-bottom: 6.5em;
  }
  .popularity__title {
    font-size: 2.25em;
    margin-bottom: 2.4em;
  }
  .popularity__numbers-container {
    display: flex;
    width: 55%;
    margin: 0 auto;
  }
  .popularity__numbers-container .number__subtitle {
    width: 60%;
  }
}
.information {
  background-color: #F7F7F7;
  padding: 3em 0;
}
.information__description {
  width: 85%;
  margin: 0 auto 2em auto;
  background-color: white;
  border: 1px solid #E8E9ED;
  border-radius: 5px;
  padding: 1.5em 0;
}
.information__description__picture {
  width: 90%;
  margin: 0 auto 1.5em auto;
  position: relative;
}
.information__description__picture__shape {
  position: absolute;
}
.information__description__picture__shape--red {
  right: 15%;
  top: 5%;
  width: 30%;
  background-color: #FB3B64;
  border-radius: 31px;
  transform: rotate(45deg);
  z-index: 0;
}
.information__description__picture__shape--red::before {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.information__description__picture__shape--blue {
  left: 23%;
  top: -3%;
  width: 55%;
  background-color: #08A6E4;
  border-radius: 9999px;
  z-index: 0;
}
.information__description__picture__shape--blue::before {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.information__description__picture__shape__image {
  position: inherit;
  display: block;
}
.information__description__picture__shape__image--laptop {
  transform: rotate(-45deg);
  width: 250%;
  margin: 0 auto;
  top: 60%;
  right: -50%;
}
.information__description__picture__shape__image--phone {
  width: 140%;
  margin: 0 auto;
  top: 5%;
  left: 0;
}
.information__description__picture__image--megaphone {
  width: 75%;
  margin: 0 auto;
  position: absolute;
  top: 20%;
  left: 5%;
}
.information__description__picture::before {
  content: "";
  display: block;
  padding-bottom: 50%;
}
.information__description__picture--solo {
  position: relative;
  background-color: #55DFB4;
  padding-bottom: 60%;
}
.information__description__text-zone {
  margin-left: 1.2em;
  width: 95%;
}
.information__description__text-zone__title {
  font-size: 1.9em;
  font-weight: 400;
  width: 70%;
  margin-bottom: 0.8em;
}
.information__description__text-zone__text {
  font-size: 0.9em;
  line-height: 1.4em;
  width: 90%;
}
.information__description--divided {
  padding-bottom: 0;
  margin-bottom: 0;
}
.information__description--divided .information__description__text-zone {
  margin-bottom: 1.2em;
}
.information__description--divided .information__description__text-zone__text {
  font-size: 1em;
  line-height: 1.5em;
}
.information__description--divided .information__description__text-zone__title {
  width: 80%;
}

@media only screen and (min-width: 1000px) {
  .information {
    padding: 6em 0;
  }
  .information__description {
    width: 70%;
    padding: 4em 0;
    display: flex;
    justify-content: center;
    gap: 2em;
  }
  .information__description__picture {
    width: 40%;
    margin: 0;
  }
  .information__description__picture__shape__image--laptop {
    width: 275%;
    top: 60%;
    right: -60%;
  }
  .information__description__picture__shape__image--phone {
    width: 125%;
    top: 10%;
    right: -10%;
  }
  .information__description__picture__shape--red {
    right: 10%;
    top: 5%;
  }
  .information__description__picture__shape--blue {
    top: -10%;
    left: 15%;
    width: 60%;
  }
  .information__description__picture--solo {
    position: relative;
    padding-bottom: 0;
    width: 40%;
  }
  .information__description__text-zone {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
    width: 55%;
  }
  .information__description__text-zone__title {
    font-size: 2.1em;
  }
  .information__description__text-zone__text {
    font-size: 1em;
    line-height: 1.6em;
    margin-bottom: 1em;
  }
  .information__description__text-zone__line {
    width: 55%;
    border-bottom: 4px solid;
  }
  .information__description__text-zone__line--red {
    border-color: #FB3B64;
  }
  .information__description__text-zone__line--blue {
    border-color: #08A6E4;
  }
  .information__description__text-zone__line--green {
    border-color: #55DFB4;
  }
  .information__description--picture-right {
    gap: 0;
  }
  .information__description--picture-right .information__description__picture {
    order: 2;
  }
  .information__description--divided {
    background-color: transparent;
    border: none;
    justify-content: space-between;
    padding: 0;
  }
  .information__description--divided .information__description__text-zone {
    margin-bottom: 0;
    background-color: white;
    border: 1px solid #E8E9ED;
    width: 55%;
    padding-top: 3em;
    padding-left: 1.8em;
    padding-right: 0;
    padding-bottom: 3em;
  }
  .information__description--divided .information__description__text-zone__text {
    font-size: 1em;
    line-height: 1.5em;
  }
  .information__description--divided .information__description__text-zone__title {
    width: 80%;
    margin-top: 1em;
  }
  .information__description--divided .information__description__text-zone__line {
    margin-bottom: 2em;
  }
}
.pricing {
  padding-top: 3em;
}
.pricing__title {
  font-size: 2.2em;
  font-weight: 400;
  text-align: center;
  margin-bottom: 0.5em;
}
.pricing__prices .price {
  position: relative;
  width: 80%;
  margin: 0 auto 3.4em auto;
  padding: 1.7em 0;
  border-style: solid;
  border-width: 1px;
  border-radius: 18px;
  display: flex;
}
.pricing__prices .price__type {
  width: 50%;
  text-align: center;
}
.pricing__prices .price__type__title {
  margin-top: 2.5em;
  font-size: 1.25em;
}
.pricing__prices .price__type__price {
  font-size: 2.875em;
  font-weight: 300;
}
.pricing__prices .price__perks {
  width: 50%;
  list-style: none;
}
.pricing__prices .price__perks__perk {
  margin-bottom: 1.5em;
}
.pricing__prices .price__perks__perk * {
  display: inline-block;
}
.pricing__prices .price__perks__perk__image {
  margin-right: 0.3em;
}
.pricing__prices .price__perks__perk__description {
  font-size: 0.875em;
}
.pricing__prices .price__begin {
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  text-align: center;
}
.pricing__prices .price__begin__button {
  color: white;
  border-radius: 23px;
  padding: 0.8em 3em;
  text-decoration: none;
}
.pricing__prices .price__begin__button--basic {
  background-color: #EB476E;
}
.pricing__prices .price__begin__button--professional {
  background-color: #07ACE6;
}
.pricing__prices .price__begin__button--premium {
  background-color: #55DFB4;
}
.pricing__prices .price--basic {
  border-color: #EB476E;
}
.pricing__prices .price--basic .price__type .price__type__price {
  color: #EB476E;
}
.pricing__prices .price--professional {
  border-color: #07ACE6;
}
.pricing__prices .price--professional .price__type .price__type__price {
  color: #07ACE6;
}
.pricing__prices .price--premium {
  border-color: #55DFB4;
}
.pricing__prices .price--premium .price__type .price__type__price {
  color: #55DFB4;
}

@media only screen and (min-width: 1000px) {
  .pricing {
    padding-top: 8em;
    padding-bottom: 4em;
  }
  .pricing__title {
    margin-bottom: 1.5em;
  }
  .pricing__prices {
    display: flex;
    width: 90%;
    margin: 0 auto;
  }
  .pricing__prices .price {
    position: relative;
    width: 25%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 0;
    padding-bottom: 3em;
    gap: 3em;
    flex-shrink: 0;
    transition: transform 0.2s ease-out, box-shadow 0.2s ease-out;
  }
  .pricing__prices .price__type {
    width: 50%;
    text-align: center;
  }
  .pricing__prices .price__type__title {
    margin-top: 2em;
    margin-bottom: 1em;
    font-size: 1.25em;
  }
  .pricing__prices .price__type__price {
    margin-bottom: 0.4em;
  }
  .pricing__prices .price__perks {
    text-align: center;
  }
  .pricing__prices .price:hover {
    transform: scale(1.1);
  }
  .pricing__prices .price--basic:hover {
    box-shadow: 5px 10px 27px rgba(235, 71, 110, 0.2901960784);
  }
  .pricing__prices .price--professional:hover {
    box-shadow: 5px 10px 27px rgba(7, 172, 230, 0.2901960784);
  }
  .pricing__prices .price--premium:hover {
    box-shadow: 5px 10px 27px rgba(85, 223, 180, 0.2901960784);
  }
}
.contact {
  padding-bottom: 2.9em;
}
.contact__info {
  width: 85%;
  margin: 0 auto;
}
.contact__info__title {
  font-size: 2.5em;
  font-weight: 400;
  margin-bottom: 0.1em;
}
.contact__info__subtitle {
  font-weight: 400;
  margin-bottom: 2em;
}
.contact__info__types-container {
  margin-bottom: 3.3em;
}
.contact__info__types-container__type {
  margin-bottom: 0.9em;
}
.contact__info__types-container__type * {
  display: inline-block;
  vertical-align: middle;
}
.contact__info__types-container__type__description-img {
  margin-right: 0.4em;
}
.contact__info__types-container__type__contact {
  color: #A5A5A5;
  text-decoration: none;
}
.contact__form {
  width: 85%;
  margin: 0 auto;
}
.contact__form__text-input {
  border: none;
  border-bottom: 1px solid #95989A;
  width: 100%;
  display: block;
  margin-bottom: 2.5em;
}
.contact__form__text-input:focus-visible {
  outline: none;
}
.contact__form__consent {
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 1em;
}
.contact__form__consent__label {
  font-size: 0.75em;
  font-weight: 400;
  color: #707070;
  width: 90%;
  margin-left: auto;
  display: block;
}
.contact__form__consent__checkbox {
  display: none;
}
.contact__form__consent__custom-checkbox {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  border: 1px solid #95989A;
  border-radius: 4px;
}
.contact__form__consent__checkbox:checked + .contact__form__consent__custom-checkbox::before {
  content: url("../assets/icons/Checkmark_checkbox.png");
  display: inline-block;
  width: 100%;
  text-align: center;
  color: #08A6E4;
}
.contact__form__consent:hover {
  cursor: pointer;
}
.contact__form__label--uppercase {
  font-size: 0.7em;
  font-weight: 600;
  color: #08A6E4;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  display: block;
  margin-bottom: 0.6em;
}
.contact__form__submit-button {
  margin-left: auto;
  display: block;
  padding: 1.3em 7em;
  background-color: #08A6E4;
  color: white;
  border: none;
  border-radius: 35px;
  font-size: 0.812em;
  filter: drop-shadow(5px 10px 14px rgba(7, 172, 230, 0.2901960784));
}
.contact__form__submit-button:hover {
  cursor: pointer;
}

@media only screen and (min-width: 1000px) {
  .contact {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 5em;
    padding-bottom: 2.9em;
  }
  .contact__info {
    width: 40%;
    margin: 0;
  }
  .contact__info__title {
    font-size: 3em;
    margin-bottom: 0.4em;
  }
  .contact__info__subtitle {
    margin-bottom: 2em;
  }
  .contact__info__types-container {
    margin-bottom: 0;
    display: flex;
    gap: 1.5em;
  }
  .contact__info__types-container__type {
    margin-bottom: 0;
  }
  .contact__form {
    width: 50%;
    margin: 0;
  }
  .contact__form__consent {
    margin-bottom: 2.2em;
  }
}
.footer {
  height: 90px;
  width: 100%;
  padding: 23px 2em 22px 2em;
  filter: drop-shadow(0px -5px 40px rgba(0, 0, 0, 0.2));
  background-color: #F7F7F7;
}
.footer__interior {
  width: 100%;
  height: 100%;
  position: relative;
}
.footer__interior > * {
  display: inline-block;
}
.footer__interior__owner {
  position: absolute;
  top: 0;
  left: 0;
}
.footer__interior__owner__title {
  color: #08A6E4;
  font-size: 1.625em;
  font-weight: 300;
}
.footer__interior__owner__subtitle {
  color: #A5A5A5;
  font-size: 0.6875em;
  font-weight: 300;
}
.footer__interior__social {
  position: absolute;
  top: 20%;
  bottom: 0;
  right: 0;
}
.footer__interior__social > * {
  display: inline-block;
  margin: auto 0;
}
.footer__interior__social__network {
  margin-left: 1.1em;
}

@media only screen and (min-width: 1000px) {
  .footer__interior {
    width: 85%;
    margin: 0 auto;
  }
}/*# sourceMappingURL=styles.css.map */